<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body class="container">
    <%- include('./header'); %>

    <main>
      <div class="jumbotron">
        <h1><%= test %></h1>
        <p><%= test1 %></p>
      </div>
    </main>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
